# Ignore paths when git creates an archive of this package
/.gitattributes               export-ignore
/.editorconfig                export-ignore
/.gitignore                   export-ignore
/.github                      export-ignore
/phpcs.xml.dist               export-ignore
/phpunit.xml.dist             export-ignore
/phpstan.neon.dist            export-ignore
/tests                        export-ignore
